/* 1 */
body,
/* 10 */
.header {
    font-family: 'Raleway', sans-serif;/* специальний цвет заливки для определленой страници с фото */
    background: black;/* задала черный цвет для каждой стриници сайта и так же для шапки страници*/
}

/* 10 */
.header {
    justify-content:space-between;/* выравнивает элементы гибкого контейнера, когда элементы не используют все доступное пространство на главной оси (по горизонтали) */
    position: fixed;/* задали шапке сайта зафиксированую позицию вверху страници, что бы при прокручте сайта шапка всегда оставалась на одном месте */
    width: 100%;/* задали ширину для шапки в 100% */
}

/* 10 */
.header,
/* 10 */
.logo__link,
/* 10 */
.section__wrap {
    display: flex;/* делает все дочерние элементы резиновыми  */
    flex-direction: row;/* задали им стиль размещение в ряд */
}

/* 10 */
.logo {
    width: 5%;/* задали логотипу ширину блока в 5% */
    margin: 0 0 0 5%;/* задали для логотипа внешние оступы */
}

/* 10 */
.logo__picture,
/* 10 */
.main__title,
/* 10 */
.section__img {
    width: 100%;/* для картинк оготипа главному заголовку и картнкам в информационном отделле страницы ширину в 100% */
}

/* 10 */
.menu {
    width: 40%;/* задали шрину для меню в шапке ширину в 40% */
}

/* 10 */
.menu,
/* 10 */
.footer,
/* 10 */
.main__title,
/* 10 */
.section__wrap {
    display: flex;/* делает все дочерние элементы резиновыми  */
    align-items: center;/* задаем елементам меню повалу заглавному тексту и секцонным елемента позиционирование по середине */
    justify-content: space-around;/* для все тех ж елементов задаем что бы они занимали все возможно пространство */
}

/* 10 */
.menu,
/* 10 */
.main__text,
/* 10 */
.section__title,
/* 10 */
.form {
    font-size: 1.5rem;/* для меню в шапке текста в разделе о нас, заголовкам в разделе скидки и форме размер 1.5 рем либо в 24пикселя */
}

/* 10 */
.menu__link,
/* 10 */
.section__title,
/* 10 */
.btn {
    text-decoration: none;/* ля всех ссылок на сайте убираем дикорацию */
}

/* 10 */
.section__title {
    color: rgb(188, 14, 129);/* специально для названий стран задаем отдельный цвет текста */
}

/* 10 */
.main__btn {
    margin: 10% 0 2% 35%;/* для первой кнопки задаем внешние отступы */
}

/* 10 */
.menu__link,
/* 1 */
h1,
/* 1 */
h2,
/* 1 */
p,
/* 10 */
.main__text {
    color: white;/* для текстов с описанием стран заголовков и параграфов задаем цвет текста белый */
}

/* 20 */
.menu__link:hover,
/* 1 */
h1 {
    text-shadow: 0 0 10px rgb(245, 59, 189),0 0 20px rgb(245, 59, 189),0 0 30px rgb(245, 59, 189),0 0 40px rgb(245, 59, 189);/* задаем не большую анимацию при наведение на ссылку и просто свечение заглавного заголовка */
}

/* 1 */
h1 {
    font-size: 5rem;/* задаем для заглавного заголовка свой размер в 80пикселя */
    font-family: 'Dancing Script', cursive;/* задаем специальный шрифт */
}

/* 1 */
h1,
/* 10 */
.main__pic,
/* 10 */
.section__section,
/* 10 */
.section__footer {
    margin: 4%;/* так же для залавного заголовка карникок стран секций на первой стание внешние отспуты */
}

/* 1 */
h2 {
    padding: 1% 0 2% 2%;/* для заголовкой второго уровн задаем внутрение оступы  */
    font-size: 2rem;/* и так же задаем свой размер шрифта в 32пикселя */
}

/* 10 */
.main__text,
/* 10 */
.btn,
/* 10 */
.footer,
/* 10 */
.main--spesial {
    padding: 1%;/* и так же им зададим не большые внутрение отступы */
    background-color: rgb(188, 14, 129);/* для текса в разделе о нас, всех кнопок, подвала сайта, и для весх елементов второй странници задаем сво задний фон  */
}

/* 10 */
.main__pic {
    width: 60%;/* для перво картнки на сайе задаем размер */
}

/* 1 */
h2,
/* 11 */
.main__text p,
/* 10 */
.form {
    margin: 2% 20% 0 20%;/* для второстеппеных загловков, всех параграфов в майне и формы задаем внешние отступы */
}

/* 10 */
.section__section {
    width: 20%;/* для всех секций вкоторых находятся описание стран их фото и кнопка забронировать задаем ширину */
}

/* 10 */
.main--spesial {
    margin: 0 16% 0 16%;/* для майна на второй странице задаем свои внешние отступы для разнообразия */
    padding: 5% 0 5% 0;/* и так же для красоты зададим внутрение отступы */
}